.price-of-meal {
  max-width: 81.36px;
  padding: 8.86px 9.71px 10.14px 13.71px;
  background-color: white;
  position: absolute;
  top: 12.14px;
  left: 13.36px;
  border-radius: 121.43px;
  // .price-of-meal__currency

  &__currency {
    color: #fe724c;
  }
}

.price-of-meal {
  // .price-of-meal__currency

  &__currency {
  }
}
