@import './Menu.module';
.products-info {
  flex: 1 1 77.41%;
  align-self: flex-start;
  padding: 37px 0 0 56px;
  // background-color: red;

  @media (max-width: 870px) {
    padding: 37px 0 0 20px;
  }
  @media (max-width: 870px) {
    padding: 37px 0 0 20px;
  }
  @media (max-width: 590px) {
    padding: 37px 0 0 0;
  }
}
