.user__img {
  margin-bottom: -20px;
}

.user__name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}

.user__menu {
  padding-left: 38px;
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 1.4;
}

.user__link-menu {
  color: inherit;
}

.user__cart {
  padding-left: 38px;
  font-size: 16px;
  line-height: 1.6;
}

.user__link-cart {
  color: inherit;
}
