.user {
  // .user__img

  &__img {
    margin-bottom: -20px;
  }

  // .user__icon

  &__icon {
  }

  // .user__name

  &__name {
    font-size: 20px;
    font-weight: 700;
    // line-height: 1.4;
    margin-bottom: 40px;
  }

  // .user__menu

  &__menu {
    padding-left: 38px;

    font-size: 16px;
    margin-bottom: 12px;
    line-height: 1.4;
    // cursor: pointer;
  }

  // .user__link-menu

  &__link-menu {
    color: inherit;
  }

  // .user__cart

  &__cart {
    padding-left: 38px;
    font-size: 16px;
    line-height: 1.6;
  }

  // .user__link-cart

  &__link-cart {
    color: inherit;
  }
}
